.test {
    background-color: yellow;
}

.test2 {
    background-color: red;
}

.exampleText {
    font-family: 'Montserrat';
    font-size: 0.8em;
}

#uvLabel {
    margin-right: 5px;
}

#weatherStatusIcon {
    height: 50px;
    width: 50px;
    background-color: rgb(137, 137, 250);
    border-radius: 5px;
}

#uvValue {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.error {
    color: red;
}

.label-red {
    background-color: rgb(248, 78, 78);
    color: white;
}

.label-green {
    background-color: rgb(27, 182, 27);
    color: white;
}

.label-yellow {
    background-color: rgb(235, 235, 12);
    color: black;
}

.cityInfo {
    border-width: 1px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
}

#cityTitleContainer {
    margin-bottom: 10px;
}

#cityName, .forecastTitle {
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 2.5em;
    font-family: 'Montserrat-Medium';
}

#forecastContainer {
    padding: 0;
}

.forecastTitle {
    margin-bottom: 10px;
}

.forecastCard {
    background-color: #7386D5;
    min-width: 150px;
    min-height: 200px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.cityWeatherText {
    font-size: 1.3em;
    font-family: 'Montserrat';
}

.forecastDateTitle {
    margin-bottom: 5px;
    color: white;
    font-size: 1.5em;
    font-family: 'Montserrat-Medium';
}

.forecastText {
    margin-bottom: 5px;
    color: white;
    font-size: 1.0em;
    font-family: 'Montserrat';
}

#header {
    background-color: rgb(29, 29, 29);
}

#header-text {
    color: rgb(73, 73, 73);
    font-family: 'Montserrat';
    font-size: 2.0em;
    margin: 0;
}

body {
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(66, 66, 66);
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}